<ul class="nav nav-tabs"  role="tablist">
  <li class="<%= active_class(periods_path) %>">
    <a href="<%= periods_path %>">
      Курсы валют
    </a>
  </li>
  <li class="<%= active_class(currencies_path) %>">
    <a href="<%= currencies_path %>" role="tab">
      Курсы по умолчанию
    </a>
  </li>
</ul>