<div class="box-info">
  <header>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p><%= work.name %></p>
      </div>
    </div>
  </header>
  <%= render 'form', url: work_path, work: work %>
</div>
