<div class="box-info">
  <header>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p>Сервисы</p>
      </div>
      <div class="col-xs-6 text-right">
        <a href="<%= new_work_path %>"
           class="btn btn-success btn-sm">
          <%= icon 'plus' %>
          Добавить
        </a>
      </div>
    </div>
  </header>
  <div class="table-responsive">
    <%= render partial: 'grid', locals: {works_gird: works_gird} %>
  </div>
</div>