<div class="header content rows-content-header">
  <button class="button-menu-mobile show-sidebar">
    <i class="fa fa-bars"></i>
  </button>
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <i class="fa fa-angle-double-down"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right top-navbar">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="logout">
              <strong><%= current_manager.email %></strong>
              <%= icon 'caret-down' %>
            </a>
            <ul class="dropdown-menu animated half flipInX">
              <li>
                <a href="<%= logout_path %>"
                   data-method="delete">
                  Выход
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
