<div class="logo-brand header sidebar rows">
  <div class="logo">
    <h1>
      <a href="<%= root_path %>">
        <%= image_tag('logo-color.png') %>
        <%= ENV['app_name'] %>
      </a>
    </h1>
  </div>
</div>
