<div class="box-info">
  <header>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p><%= service.model.full_name %></p>
      </div>
    </div>
  </header>

  <%= render 'partials/uploader/single',
             avatar:      avatar,
             upload_url:  manager_avatars_path(service.model),
             destroy_url: manager_avatars_path(service.model),
             crop_path:   crop_manager_avatars_path(service.model) %>

  <hr>

  <%= render 'form', service: service, path: manager_path(service.model) %>
</div>