<div class="box-info">
  <header>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p>Новый клиент</p>
      </div>
    </div>
  </header>

  <%= render 'form', service: service, path: clients_path %>
</div>
