<ul class="nav nav-tabs"  role="tablist">
  <li class="<%= active_class(projects_path) %>">
    <a href="<%= projects_path %>">
       Отобразить по проектам
    </a>
  </li>
  <li class="<%= active_class(root_path) %>">
    <a href="<%= root_path %>" role="tab">
      Отобразить по услугам
    </a>
  </li>
</ul>