<div class="box-info">
  <header>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p>Новый проект</p>
      </div>
    </div>
  </header>
  <%= render 'form', path: projects_path, service: service %>
</div>
