<form id="fileupload" action="<%= load_url %>" method="POST" enctype="multipart/form-data"
      data-save-url="<%= save_url %>">
  <input type="file" name="files[]" class="fileupload-input" multiple>
  <div class="row fileupload-buttonbar">
    <div class="col-lg-7">
      <span class="btn btn-success button-submit fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
      </span>
      <button type="button" class="btn btn-danger delete">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
      </button>
      <input type="checkbox" class="toggle">
      <span class="fileupload-process"></span>
    </div>
    <div class="col-lg-5 fileupload-progress fade">
      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
      </div>
      <div class="progress-extended">&nbsp;</div>
    </div>
  </div>
  <table role="presentation" class="table table-striped multiple-images-container">
    <tbody class="files"></tbody>
  </table>
</form>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) {  var counter = 0; %}
    <tr class="template-upload fade vertical-align image-row">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{%  counter++; } %}

</script>

<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade row-container image-{%= file.id %}" data-id="{%= file.id %}">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}"
                       title="{%=file.name%}"
                       class="main-file"
                       download="{%=file.name%}"
                       width="{%=file.width%}"
                       height="{%=file.height%}"
                       data-gallery>
                        <img
                            data-pure-thumb-url="{%=file.pure_thumb%}"
                            data-pure-main-url="{%=file.pure_main%}"
                            src="{%=file.thumbnailUrl%}" style="height: 100px;">
                    </a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
          <button
            class="btn btn-info crop-action"
            data-data="{id:{%=file.id%}}"
            data-crop-path="{%=file.crop_path%}"
            >
            Crop
          </button>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete"  data-data="{id:{%=file.id%}}" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>

{% } %}
</script>
<%= render 'admin/partials/uploader/modal', image: image, crop_path: crop_path %>
